.main {
  background-color: white;
  width: 800px;
  height: 800px;
  margin: auto;
}
.heading1 {
  margin-top: 100px;
  padding-top: 50px;
  text-align: center;
}
.heading2 {
  text-align: center;
}
.outline {
  background-color: gainsboro;
  width: 1000px;
  height: 1000px;
}

.square {
  width: 200px;
  height: 200px;
  background-color: wheat;
  margin-left: 50px;
  float: left;
  margin-top: 50px;
}

.item {
  margin-top: 50px;
  width: 500px;
  height: 500px;
  float: right;
  margin: 10px;
}
